@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
  font-family:Noto Sans KR;
}
.container{
  padding-top: 20px;
}
h1{
  font-family: Noto Sans KR;
  font-weight: bold;
}
h2{
  font-family: Noto Sans KR;
  font-weight: bold;
}
.textTitle {
  font-family: Noto Sans KR;
  font-size: 5vw;
  font-weight: normal;
}
.titleBold {
  font-weight: bold;
}
